$font-header: 'Montserrat' sans-serif;
$font-body: 'Roboto', sans-serif;
$pink: #FF4E50;
$green: #18D4CA;
$orange: #FFA710;
$purple: #667DF3;
$darkgrey: #444444;
$grey: #666666;
$white: #FFF;

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,600,700|Roboto:300,400');
@import 'settings';
@import 'node_modules/foundation-sites/assets/foundation';
// @include foundation-flex-classes;
// @include foundation-flex-grid;
@import 'components/button';
@import 'components/header';
@import 'components/footer';
@import 'pages/home';

body{
    color: $grey;
}



